/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body.dark {
    background: #000;
    color: #fff;
}

/* NAVBAR */
header {
    background: #111;
    border-bottom: 1px solid #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}
.logo span {
    color: #3ba4ff;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ddd;
    font-weight: 600;
}
.nav-links a:hover {
    color: #3ba4ff;
}

.resume-btn {
    padding: 6px 14px;
    background: #3ba4ff;
    border-radius: 4px;
    color: #000 !important;
}

/* HERO */
.hero {
    padding: 80px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text { max-width: 55%; }

.hero-text h1 span { color: #3ba4ff; }

.hero-img img {
    width: 280px;
    border-radius: 10px;
    border: 3px solid #3ba4ff;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    background: #3ba4ff;
    color: black;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

/* SECTION TITLE */
.section-title {
    text-align: center;
    font-size: 32px;
    margin: 60px 0 20px;
}

/* ABOUT */
.about {
    padding: 0 15%;
    text-align: center;
    font-size: 18px;
}

/* SKILLS */
.skills {
    padding: 20px 10%;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #222;
}

/* PROJECTS */
.projects {
    padding: 20px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #222;
}

/* EDUCATION */
.education {
    padding: 20px 10%;
}

.edu-card {
    background: #111;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* CONTACT */
.contact {
    padding: 20px 10%;
}
.contact-info p { margin: 5px 0; }

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #111;
    border: 1px solid #333;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    border-top: 1px solid #222;
    margin-top: 40px;
}

/* RESPONSIVE */
@media(max-width:900px){
    .hero { flex-direction: column; text-align: center; }
    .hero-text { max-width: 100%; }
    .hero-img img { margin-top: 20px; }
}
